
body {
	background-color: #afafdc;
}

.land    { fill: #ff8c00; stroke: white; stroke-width: 1px; }
.river   { fill: #008CE6; stroke: white; stroke-width: 1px; }
.zigurat { fill: none;    stroke: blue;  stroke-width: 4px; }
.city    { fill: none;    stroke: green; stroke-width: 4px; }

.tokenoutercircle  { stroke: none; }
.tokenmiddlecircle { stroke: black; stroke-width: 1px; }
.tokeninnercircle  { stroke: black; stroke-width: .5px; }
.tokencentralpoint { fill: black; stroke: none; }

.tokenouterrightstar { fill: black; stroke: none; }
.tokennegrightstar   { fill: none;  stroke-width: .75px; }

.tokenouteroddstar { fill: black; stroke: none; }
.tokenwhiteoddstar { stroke: none; }
.tokeninneroddstar { fill: none;  stroke: black; stroke-width: .5px; }

.tokenbodymerchant { fill: black; stroke: none; }
.tokenhatmerchant { fill: black; stroke-width: .5px; }
.tokenfrontiermerchant { fill: none; stroke-width: .5px; }

.whiteplayer { fill: white; stroke: white; }
.yellowplayer { fill: yellow; stroke: yellow; }
.cyanplayer { fill: cyan; stroke: cyan; }
